.mode{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
img{
    height: 400px;
    max-width: fit-content; 
    align-items: center;


}
.Navbar__links{
display: flex;
justify-content: center;
/* margin-left: 3rem; */
}