.mode {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

img {
    height: fit-content;
    max-width: fit-content;
    align-items: center;


}
.nav__ul{
    display: flex;
    justify-content: space-evenly;
}
.Navbar__links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* text-align: center; */
    justify-content: space-between;
    /* margin-left: 3rem; */
}